<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true" />

    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="true" />

    <uses-feature
        android:name="com.oculus.feature.PASSTHROUGH"
        android:required="true" />

    <uses-permission
        android:name="com.oculus.permission.HAND_TRACKING" />

    <application
        android:label="My Bevy start">

        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest|quest2|questpro|quest3" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode">

            <meta-data
                android:name="android.app.lib_name"
                android:value="my_bevy_start" />

            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

                <category
                    android:name="com.oculus.intent.category.VR" />

                <category
                    android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
            </intent-filter>

        </activity>

    </application>

</manifest>